[disabled],
.disabled {
  cursor: not-allowed !important;
}

.avatar {
  object-fit: cover;
  object-position: center;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.mini-container {
  max-width: 600px;
}

.rounded-xl {
  border-radius: 2rem;
}
