.table {
  th {
    border-bottom: 0;
    background: $table-th-bg;
    font-size: $table-th-font-size;
    font-family: $table-th-font-family;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}